

<div class=" opchild" >
    <div class=" header">
        <img src="assets/img/narutologo.jfif" style="height:150px;width:300px">

        <h1>NARUTO</h1>

    </div>

    <div class="intro ">
        <p>Naruto (NARUTO -ナルト-) is a manga by Masashi Kishimoto with an anime TV series adaptation. Its main character, Naruto Uzumaki, is a loud, hyperactive, adolescent ninja who constantly searches for approval and recognition, as well as to become Hokage, who is acknowledged as the leader and strongest of all ninja in the village.</p>
        <p>Storyline
            Many years ago, in the hidden village of Konoha, lived a great demon fox. When it swung one of it's nine tails, a tsunami occurred. The fourth hokage sealed this demon fox inside a boy in exchange for his own life. Naruto was that boy, and he grew up with no family, and the villagers hated him thinking that he himself was the demon fox. Naruto's dream is to become Hokage, and have the villagers acknowledge him.</p>

           
    </div>





</div>

<div class="opworld">

    <img src="assets/img/n1.jpg" style="height:200px;width:300px">
    <img src="assets/img/n2.jpeg" style="height:200px;width:300px">
    <img src="assets/img/n4.jpg" style="height:200px;width:300px">

</div>



<div class="bounty">



</div>