<p style="color:white;">luffy works!</p>

<div class=" opchild" >
    <div class=" header">
        <img src="assets/img/luf.jpg" style="height:150px;width:300px">

        <h1>Monkey D. <span>Luffy</span></h1>

    </div>

    <div class="intro ">
        <p>Monkey D. Luffy, also known as " Straw Hat Luffy" and commonly as "Straw Hat", is the main protagonist of the manga and anime, One Piece. He is the founder and captain of the increasingly infamous and powerful Straw Hat Pirates, as well as one of its top fighters. His lifelong dream is to become the Pirate King by finding the legendary treasure left behind by the late Gol D. Roger.<br>He believes that being that being the Pirate King means having the most freedom in the world</p>
        <P>Luffy also has a penchant for attracting followers and has unwillingly been named the leader of the Straw Hat Grand Fleet, consisting of seven pirate crews who swore to come to his aid whenever he wishes. After learning of this and his exploits against the Big Mom Pirates, the press has labeled him the "Fifth Emperor of the Sea", though many prominent figures consider this to be exaggerated</P>
            <p><span>Creater:</span> Eiichiro Oda</p>
    </div>

    <span class="heading">Power and Abilities</span>
    <div class="power">
        <img src="assets/img/luffy1.png" >

        <P> <span>Gear Second</span>was first seen on Enies Lobby. Luffy increases the size of his blood vessels, causing his blood to flow more quickly and pumping more oxygen and nutrients through his body. This greatly increases his speed and power, as in this form, he is capable of keeping up with users of the Soru technique and overwhelming the defensive capabilities Tekkai technique</P>
        <p> <span>Gear Third</span> was first seen on Enies Lobby. By blowing a massive amount of air into his thumb, Luffy can inflate the bones of a particular part of his body, making it gigantic. These inflated body parts are capable of inflicting damage on a massive scale, being able to break through walls and large structures with ease, and Gear Third's power became magnified when Luffy learned to use Busoshoku Haki during the timeskip</p>
    
    <p><span>Gear Fourth</span> was created during Luffy's two-year training on Rusukaina and was first seen on Dressrosa. By blowing into his arm, Luffy inflates the muscles in his entire body and covers it with Busoshoku Haki, taking one of three forms. The first form, Boundman</p>
    <p>Luffy possesses<span> Haoshoku Haki</span>, a very rare type of Haki whose users are said to have the qualities of a king. This power was latent within him</p>
   

    <video width="1000" height="400" controls autoplay>
        <source src="assets/img/opvideo.mp4" type="video/mp4">
        
      </video>
      
</div>




</div>
