<p style="color:white;">dragonballz works!</p>


<div class=" opchild" >
    <div class=" header">
        <img src="assets/img/d1.jpg" style="height:150px;width:300px">

        <h1>Dragon <span>Ball Z</span></h1>

    </div>

    <div class="intro ">
        <p>Dragon Ball Z (Japanese: ドラゴンボールZ, Hepburn: Doragon Bōru Zetto, commonly abbreviated as DBZ) is a Japanese anime television series produced by Toei Animation. Part of the Dragon Ball media franchise, it is the sequel to the 1986 Dragon Ball anime series and adapts the latter 325 chapters of the original Dragon Ball manga series created by Akira Toriyama, which ran in Weekly Shōnen Jump from 1988 to 1995. The series aired in Japan on Fuji TV from April 1989 to January 1996 and was later dubbed for broadcast in at least 81 countries worldwide.</p>

        <p>Dragon Ball Z continues the adventures of Son Goku in his adult life as he and his companions defend the Earth against villains including aliens (Vegeta, Frieza), androids (Cell), and magical creatures (Majin Buu). At the same time, the story parallels the life of his son, Gohan, as well as the development of his rivals, Piccolo and Vegeta.</p>
    </div>





</div>

<div class="opworld">

    <img src="assets/img/d2.jpg" style="height:200px;width:300px">
    <img src="assets/img/d3.jpg" style="height:200px;width:300px">
    <img src="assets/img/d4.jpg" style="height:200px;width:300px">

</div>



<div class="bounty">



</div>