<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/img/carousal1.png" class="opac" alt="Los Angeles" style="width:100%;  height:500px;">
        <div class="carousalcontent">
            <p CLASS="optxt" ><b>ONE PIECE</b></p>
            <p class="optxt1">1997&nbsp; &nbsp;996 Episodes</p>
            <p class="optxt1"> Follows the adventures of Monkey D. Luffy and his pirate crew in order to find<br> the greatest treasure ever left by the legendary Pirate, Gold Roger. <br>The famous mystery treasure named "One Piece".</p><br>
              <button class="txtbut"><span class="glyphicon glyphicon-play"></span> Play Now</button>
        </div>
      </div>

      <div class="item">
        <img src="assets/img/carousal2.jpg" class="opac" alt="Chicago" style="width:100%; height:500px;">
        <div class="carousalcontent">
            <p CLASS="optxt" ><b>NARUTO</b></p>
            <p class="optxt1">2002&nbsp; &nbsp;220 Episodes</p>
            <p class="optxt1"> Naruto Uzumaki, a mischievous adolescent ninja, struggles as he <br> searches for recognition and dreams of becoming the Hokage, <br>the village's leader and strongest ninja.</p><br>
              <button class="txtbut"><span class="glyphicon glyphicon-play"></span> Play Now</button>
        </div>
    </div>
    
      <div class="item">
        <img src="assets/img/carousal3.jpg" class="opac" alt="New york" style="width:100%; height:500px;">
        <div class="carousalcontent">
            <p CLASS="optxt" ><b>DRAGON BALL Z</b></p>
            <p class="optxt1">1996&nbsp; &nbsp;227 Episodes</p>
            <p class="optxt1"> After learning that he is from another planet, a warrior named Goku <br>and his friends are prompted to defend it from an onslaught of <br>extraterrestrial enemies.</p><br>
              <button class="txtbut"><span class="glyphicon glyphicon-play"></span> Play Now</button>
        </div>
    </div>
    </div>

   Left and right controls
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="popular">
  <h3>Popular on <span class="spanred">Stream</span></h3>
  <hr class="redline">

  <div class="popularanime">
    
      <div class="p1">
        <img src="assets/img/p1.jpg">
      </div>
      <div class="p1">
        <img src="assets/img/p2.jpg">
      </div>
      <div class="p1">
        <img src="assets/img/p3.jpg">
      </div>
      <div class="p1">
        <img src="assets/img/p4.jpg">
      </div>
     

  </div>
  <div class="popular">
    <h3>Trending <span class="spanred">Now</span></h3>
    <hr class="redline">
  </div>
<div class="trending">
    <div class="t1">
      <img src="assets/img/t1.jpg">
    </div>
    <div class="t1">
      <img src="assets/img/t2.jpg">
    </div>
    <div class="t1">
      <img src="assets/img/t3.jpg">
    </div>
    <div class="t1">
      <img src="assets/img/t4.jpg">
    </div>
    <div class="t1">
      <img src="assets/img/t5.jfif">
    </div>
    <div class="t1">
      <img src="assets/img/t6.jpg">
    </div>


</div>

<div class="popular">
  <h3>Continue <span class="spanred">Watching</span></h3>
  <hr class="redline">
</div>
<div class="trending">
  <div class="w1">
    <img src="assets/img/w1.jpg">
    <hr class="played1">
    <div class="episode">S2 : E3 <span class="glyphicon glyphicon-info-sign"></span></div>
    
  </div>
   -->
   
  <div class="w1">
    <img src="assets/img/w2.jfif">
    <hr class="played2">
    <div class="episode">S6 : E2 <span class="glyphicon glyphicon-info-sign"></span></div>
  </div>
  <div class="w1">
    <img src="assets/img/w3.png">
    <hr class="played2">
    <div class="episode">S1 : E7 <span class="glyphicon glyphicon-info-sign"></span></div>
  </div>
  <div class="w1">
    <img src="assets/img/w4.jpg">
    <hr class="played2">
    <div class="episode">S5 : E5 <span class="glyphicon glyphicon-info-sign"></span></div>
  </div>
  <div class="w1">
    <img src="assets/img/w5.jfif">
    <hr class="played1">
    <div class="episode">S2 : E3 <span class="glyphicon glyphicon-info-sign"></span></div>
  </div>
 
</div>

<div class="popular">
  <h3>Top <span class="spanred">Movies</span></h3>
  <hr class="redline">
</div> 





<div class="movielist">
  <div class="container">
    <img src="assets/img/movie1.png" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text"><img src="assets/img/unnamed.png"/></div>
    </div>
  </div>


  <div class="container">
    <img src="assets/img/movie2.jpg" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text"> <img src="assets/img/unnamed.png"/></div>
     
    </div>
  </div>


  <div class="container">
  <img src="assets/img/movie3.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text"><img src="assets/img/unnamed.png"/></div>
  </div>
</div>
<div class="container">
  <img src="assets/img/movie4.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text"><img src="assets/img/unnamed.png"/></div>
  </div>
</div>
<div class="container">
  <img src="assets/img/movie5.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text"><img src="assets/img/unnamed.png"/></div>
  </div>
</div>
<div class="container">
  <img src="assets/img/movie6.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text"><img src="assets/img/unnamed.png"/></div>
  </div>
</div>
<div class="container">
  <img src="assets/img/movie7.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text"><img src="assets/img/unnamed.png"/></div>
  </div>
</div>


</div>

<div class="moviesbtn"><button><a href="">Browse All Movies</a></button></div>


<div style=" clear:both;"></div>







<div class="plans">


  <div class="plantxt">

      <p>INCLUDED IN ALL PLANS</p>


      <h1>All The Anime You Love</h1>


      <h4>Stream full seasons of exclusive series, current-season episodes, <br>hit animes, kids shows, and more.</h4>

  </div>


</div>
 





<!-- 
        
<footer>
  <div class="row">
    <h4>Explore</h4>
    <ul >
      <li><a href="#">Japnese Anime</a></li>
      <li><a href="#">Manga </a></li>
      <li><a href="#">Anime Movies</a></li>
      <li><a href="#">Fandom</a></li>
      <li><a href="#">Dubbed Anime</a></li>
     
    </ul>
  </div>

<div class="row">
  Column1-->
  <!-- <div >
    <h4>Site links</h4>
    <ul >
      <li><a href="#">Home</a></li>
      <li><a href="#">Characters</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Register</a></li>
     
    </ul>
  </div>
</div>
<div  class="row">
  Column1-->
  <!-- <div>
    <h4>Site information</h4>
    <ul >
      <li><a href="#">Accessibility</a></li>
      <li><a href="#">Terms and condition</a></li>
      <li><a href="#">Privacy notices</a></li>
      <li><a href="#">Cookie policy</a></li>
      <li><a href="#">contact us</a></li>
      
    </ul>
  </div>
</div>
<div class="row1" >
 
  
 <a href="#" class="icoFacebook" title="Facebook"><img src="anime/Capture.PNG" style="width:100px;height:50px;"/></a><br>
 <a href="#" class="icoFacebook" title="Facebook"> <img src="anime/Capture1.PNG" style="width:100px;height:50px;"/></a>
  
   </div>
<div class="row1" >
      <form action="#" class="row flex-fill">
          <div class="foot1"> <input type="email" class="inttxt" id="email" placeholder="Your Email" name="email"> </div>
          <div class="foot2"> <button type="submit" class="btnfoot">Subscribe Now</button> </div>
      </form>
  <h4>Follow Us</h4>
      <ul >
       <li class="ulrow"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook" ></i></a></li>
       <li class="ulrow"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-instagram"></i></a></li>
       <li class="ulrow"><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-twitter"></i></a></li>
       <li class="ulrow"><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-youtube"></i></a></li>
      </ul>				
</div>
</div>
<hr>
<div >

<div >
<p class="text-center">&copy; Copyright 2018 - Company Name.  All rights reserved.</p>
</div>
</div>




</footer> -->












 
